.s-main {
  border-radius: 4px;
  overflow: hidden;

  .s-main-header {
    height: 44px;
    line-height: 44px;
    background: linear-gradient(to right, rgb(250, 60, 104) 2%, rgb(254, 70, 77) 97%) rgb(250, 60, 104);

    dt {
      font-size: 18px;
      margin-left: 13px;
      margin-right: 10px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
    }

    dd {
      position: relative;
      font-size: 14px;
      margin-left: 10px;
      cursor: pointer;
      color: #fff;
      display: inline-block;
    }
    .active::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 37px;
      left: 25px;
      transform: rotate(45deg);
      display: inline-block;
      border-left: 6px solid #fff;
      border-top: 6px solid #fff;
      border-bottom: 6px solid transparent;
      border-right: 6px solid transparent;
    }

    .s-main-header-all {
      float: right;
      margin-right: 15px;
      color: #fff;
    }
  }

  .s-main-content {
    overflow: hidden;
    position: relative;
    padding: 1px 0px 0px 0px;

    &:hover {
      .card-btn {
        display: block;
      }
    }

    .card-btn {
      display: none;
      position: absolute;
      top: 120px;
      left: 0;
      z-index: 999;
      font-size: 30px;
      color: #fff;

      div {
        background: rgba(0, 0, 0, 0.6);
        padding: 0 6px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;

        i {
          font-weight: bolder;
        }
      }

      .card-left {
        left: 0px;
      }

      .card-right {
        left: 1146px;
      }
    }

    .content-card {
      position: relative;
      width: 2440px;
      left: 0px;
      .s-main-content-card {
        margin-left: 15px;
        float: left;

        a {
          position: relative;

          img {
            border-radius: 5px;
            width: 214px;
          }

          .info {
            width: 214px;
            height: 51px;
            border-radius: 0px 0px 5px 5px;
            color: #fff;
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(29,45,55,0.80) 99%);
            position: absolute;
            top: -35px;

            p {
              padding-left: 10px;

              .ping {
                font-size: 12px;
                font-weight: 600;
              }

              .score {
                font-size: 16px;
                color: #FD9827;
                font-weight: 500;
              }
            }

            .name {
              white-space: nowrap;
              text-overflow: ellipsis;
              width: 6em;
              overflow: hidden;
            }

            .buy {
              position: absolute;
              top: 20px;
              right: 5px;
              background: #FF4949;
              border-radius: 100px;
              color: #fff;
              padding: 2px 12px 3px 12px;
              font-size: 14px;
            }
          }

          .tag {
            position: absolute;
            top: -270px;
            left: -5px;
            padding: 2px 8px;
            color: #fff;
            background: #17a6ff;
          }
        }
      }
    }
  }
}

